# OS & editor
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo

# VS / .NET
.vs/
**/bin/
**/obj/
*.user
*.suo
*.cache

# Node / JS
node_modules/

# Build artifacts
/dist/
/build/
.out/
.next/
.cache/

# Env
.env
.env.*.local

# Misc
*.local
